apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ceph-csi-rbd
  namespace: kube-system
spec:
  chart: ceph-csi-rbd
  repo: https://ceph.github.io/csi-charts
  version: ${ceph_version}
  targetNamespace: ceph-system
  createNamespace: true
  timeout: 15m0s 
  valuesContent: |
    externallyManagedConfigmap: true
    configMapName: "ceph-csi-config"
    cephConfConfigMapName: "ceph-conf-rbd"
    kmsConfigMapName: "ceph-csi-encryption-kms-config-rbd"
    nodeplugin:
      nodeSelector:
        role: "worker"
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      image:
        pullPolicy: IfNotPresent
      kubeletDir: /var/lib/kubelet
      tolerations:
        - operator: Exists
          effect: NoSchedule
      httpMetrics:
        enabled: false
    provisioner:
      nodeSelector:
        role: "worker"
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      image:
        pullPolicy: IfNotPresent
      httpMetrics:
        enabled: false
      replicaCount: ${replica_count}