apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ceph-csi-cephfs
  namespace: kube-system
spec:
  chart: ceph-csi-cephfs
  repo: https://ceph.github.io/csi-charts
  valuesContent: |
    externallyManagedConfigmap: true
    configMapName: "ceph-csi-config"
    cephConfConfigMapName: "ceph-conf-cephfs"
    kmsConfigMapName: "ceph-csi-encryption-kms-config-cephfs"
    nodeplugin:
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      tolerations:
        - operator: Exists
          effect: NoSchedule
      httpMetrics:
        enabled: false
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: role
                operator: In
                values:
                - "worker"
    provisioner:
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      httpMetrics:
        enabled: false
      replicaCount: ${replica_count}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: role
                operator: In
                values:
                - "worker"
    csiConfig:
      - clusterID: "${clusterID}"
        monitors:
%{ for node in ceph_monitors_list ~}
          - "${node}:6789"
%{ endfor ~}