# REQUIRED
project_id = "my_project"
region = "europe-west1"
cluster_name = "example_cluster"
# OPTIONAL
kubernetes_version = "1.32"
node_groups = [
  {
    name               = "default-node-pool"
    machine_type       = "e2-medium"
    min_count          = 3
    max_count          = 3
    initial_node_count = 3
    disk_size_gb       = 100
    disk_type          = "pd-balanced" # "pd-standard", "pd-balanced", "pd-ssd"
    image_type         = "COS_CONTAINERD"
    auto_repair        = true
    auto_upgrade       = true
    preemptible        = false
  }
]