apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: proxmox-nfs
  annotations:
    storageclass.kubernetes.io/is-default-class: "${is_default_class}"
provisioner: nfs.csi.k8s.io
parameters:
  server: "${nfs_server}"
  share: "${nfs_share}"
  subDir: "${cluster_name}/$${pvc.metadata.namespace}-$${pvc.metadata.name}"
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true
mountOptions:
%{ for opt in mount_options ~}
  - ${opt}
%{ endfor ~}
