#cloud-config
hostname: ${hostname}
timezone: ${timezone}
ssh_pwauth: true  # <--- This allows password login via SSH

ntp:
  enabled: true
  servers:
    - 0.es.pool.ntp.org
    - 1.es.pool.ntp.org
    - time.google.com

write_files:
  - path: /usr/local/share/ca-certificates/root-ca.crt
    permissions: "0644"
    content: |
      ${indent(6, root_ca)}
  - path: /etc/sysctl.d/99-rke2-optimization.conf
    content: |
      net.core.rmem_max = 16777216
      net.core.wmem_max = 16777216
      net.ipv4.tcp_rmem = 4096 87380 16777216
      net.ipv4.tcp_wmem = 4096 65536 16777216
      vm.dirty_ratio = 10
      vm.dirty_background_ratio = 5

runcmd:
  - |
    #!/bin/bash
    exec > /var/log/proxmox-prep.log 2>&1
    set -x
    export DEBIAN_FRONTEND=noninteractive

    echo "Adding Company CA"
    update-ca-certificates

    echo "Waiting for apt lock..."
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
      sleep 5
    done

    echo "Applying RKE2 optimization settings..."
    sysctl -p /etc/sysctl.d/99-rke2-optimization.conf

    echo "Updating and installing baseline requirements..."
    apt-get update
    apt-get install -y qemu-guest-agent curl ceph-common jq
    systemctl enable --now qemu-guest-agent || true
    systemctl start qemu-guest-agent || true

    # Ensure that the rbd module is active in the Ubuntu Kernel
    echo "Configuring Ceph kernel modules..."
    modprobe rbd
    echo "rbd" | tee -a /etc/modules

    echo "Setup complete. OS is ready for Terraform orchestration."