apiVersion: v1
kind: Secret
metadata:
  name: dns-api-token
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "${dns_api_token}"
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "${email}"
    privateKeySecretRef:
      name: letsencrypt-prod-key
    solvers:
    - dns01:
        cloudflare: # Your Provider (route53, google, etc...)
          apiTokenSecretRef:
            name: dns-api-token
            key: api-token
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ${cert_object_name}
  namespace: kube-system
spec:
  secretName: ${secret_name}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
%{ for domain in dns_names ~}
  - "${domain}"
  %{ endfor ~}