apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ceph-csi-cephfs
  namespace: kube-system
spec:
  chart: ceph-csi-cephfs
  repo: https://ceph.github.io/csi-charts
  targetNamespace: kube-system
  valuesContent: |
    nodeplugin:
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      tolerations:
        - operator: Exists
          effect: NoSchedule
      httpMetrics:
        enabled: false
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - "true"
    provisioner:
      enableHostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      replicaCount: ${replica_count}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - "true"
    csiConfig:
      - clusterID: "${clusterID}"
        monitors:
%{ for node in ceph_monitors_list ~}
          - "${node}:6789"
%{ endfor ~}