apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: true
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 6443
    devices: "${network_device}"
    operator:
      replicas: ${operator_replicas}
    ipam:
      mode: kubernetes
    gatewayAPI:
      enabled: true
    l2announcements:
      enabled: true
      leaseDuration: 15s
      renewDeadline: 5s
      retryPeriod: 2s
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
      metrics:
        enabled:
          - dns
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
    bpf:
      masquerade: true