%{ if !is_bootstrap }
server: "https://${registration_address}:9345"
%{ endif }
token: "${cluster_token}"

%{ if is_server }
tls-san:
  - "127.0.0.1"
  - "${vip_address}"
%{ for ip in nodes_ips ~}
  - "${ip}"
%{ endfor ~}
%{ endif }

cni: "none"
disable-kube-proxy: true
disable-cloud-controller: true

disable:
  - rke2-ingress-nginx

node-label:
%{ if !is_server }
  - "node-role.kubernetes.io/worker=true"
%{ endif }
%{ for label in extra_node_labels_list ~}
  - "${label}"
%{ endfor ~}