%{ if !is_bootstrap }
server: "https://${registration_address}:9345"
%{ endif }
token: "${cluster_token}"

%{ if is_server }
tls-san:
  - "127.0.0.1"
  - "${vip_address}"
%{ for ip in nodes_ips ~}
  - "${ip}"
%{ endfor ~}

kube-controller-manager-arg:
  - "allocate-node-cidrs=true"
  - "cluster-cidr=10.42.0.0/16"
  - "service-cluster-ip-range=10.43.0.0/16"
  - "node-cidr-mask-size=24"
%{ endif }

cni: "none"
disable-kube-proxy: true
disable-cloud-controller: true

disable:
  - rke2-ingress-nginx

%{ if length(extra_node_labels_list) > 0 ~}
node-label:
%{ for label in extra_node_labels_list ~}
  - "${label}"
%{ endfor ~}
%{ endif ~}