#cloud-config
hostname: ${hostname}
timezone: ${timezone}
ssh_pwauth: true  # <--- This allows password login via SSH

ntp:
  enabled: true
  servers:
    - 0.es.pool.ntp.org
    - 1.es.pool.ntp.org
    - time.google.com

runcmd:
  - |
    #!/bin/bash
    exec > /var/log/proxmox-prep.log 2>&1
    set -x
    export DEBIAN_FRONTEND=noninteractive

    echo "Creating bridge br_ceph to hook it with Multus/Ceph-CSI..."
    cat <<EOF > /etc/netplan/99-ceph-bridge.yaml
    network:
      version: 2
      ethernets:
        ${ceph_interface_name}:
          dhcp4: no
          dhcp6: no
      bridges:
        br_ceph:
          interfaces: [${ceph_interface_name}]
          dhcp4: no
          dhcp6: no
          parameters:
            stp: false
            forward-delay: 0
          mtu: 9000
    EOF
    chmod 600 /etc/netplan/99-ceph-bridge.yaml
    netplan apply

    echo "Waiting for apt lock..."
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
      sleep 5
    done

    echo "Updating and installing baseline requirements..."
    apt-get update
    apt-get install -y qemu-guest-agent curl ceph-common
    systemctl enable --now qemu-guest-agent || true
    systemctl start qemu-guest-agent || true

    echo "Setup complete. OS is ready for Terraform orchestration."