externallyManagedConfigmap: true
configMapName: "ceph-csi-config"
cephConfConfigMapName: "ceph-conf-cephfs"
kmsConfigMapName: "ceph-csi-encryption-kms-config-cephfs"
nodeplugin:
  nodeSelector:
    role: "worker"
  enableHostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  image:
    pullPolicy: IfNotPresent
  kubeletDir: /var/lib/kubelet
  tolerations:
    - operator: Exists
      effect: NoSchedule
  httpMetrics:
    enabled: false
provisioner:
  nodeSelector:
    role: "worker"
  enableHostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  image:
    pullPolicy: IfNotPresent
  httpMetrics:
    enabled: false
  replicaCount: ${replica_count}